.mentor-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  margin-bottom: 100px;
  border: solid 1px grey;
}

.mentor-card-image {
  border-radius: 3;
}

.card {
  border-radius: 8px;
  border: solid whitesmoke 1px;
  overflow: scroll;
}
