<h1> Welcome on your Dashboard as a Mentor </h1>
<% @bookings_as_mentor.each do |booking| %>
<p>Booked by </p>
<%= User.find(booking.user_id).email %>
<p>From: </p>
<%= booking.start_date %>
<p>to: </p>
<%= booking.end_date %>
<% end %>
