
<div id="banner">
  <%= render 'shared/navbar' %>
  <div class="d-flex flex-column justify-content-center">
    <div class="text-center home-title ">
      <h1>TROUVEZ VOTRE MENTOR</h1>
      <h3>Créez votre portfolio pour être embauché</p>
      <%= link_to "C'est parti !", new_meeting_url, class: "btn btn-primary" %>
    </div>
  </div>
</div>
