.btn-login {
  padding: 8px 4px;
  border-radius: 8px;
  border:solid 1px grey;
  background-color: transparent;
}

.Github-login{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: solid 1px grey;
  height: 50px;
}
